h3 {
  font-size: 1rem;
}

a {
  color: #2a7ae2;
}

a:hover {
  color: #111;
  text-decoration: underline;
}

.post-title {
  color: #2a7ae2;
  margin-top: 0rem;
}

.post-title:hover {
  color: #111;
}
