h3 {
  font-size: 1rem;
}

h2 {
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}

a {
  color: #2a7ae2;
}

a:hover {
  color: #111;
  text-decoration: underline;
}

.post-title {
  color: #2a7ae2;
  font-size: 24px;
}

.post-title:hover {
  color: #111;
}

.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.fa-tags {
  color: #828282;
}

/* Tag colors have got from https://flatuicolors.com/palette/defo */

.torquoise-tag {
  background-color: #1abc9c;
}

.green-sea-tag {
  background-color: #16a085;
}

.sun-flower-tag {
  background-color: #f1c40f;
}

.orange-tag {
  background-color: #f39c12;
}

.emerald-tag {
  background-color: #2ecc71;
}

.nephritis-tag {
  background-color: #27ae60;
}

.carrot-tag {
  background-color: #e67e22;
}

.pumkin-tag {
  background-color: #d35400;
}

.peter-river-tag {
  background-color: #3498db;
}

.belize-hole-tag {
  background-color: #2980b9;
}

.alizarin-tag {
  background-color: #e74c3c;
}

.pomegranate-tag {
  background-color: #c0392b;
}

.amethyst-tag {
  background-color: #9b59b6;
}

.wisteria-tag {
  background-color: #8e44ad;
}

.wet-asphalt-tag {
  background-color: #34495e;
}

.concrete-tag {
  background-color: #95a5a6;
}
